<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Unesite vašu email i lozinku</h6>
                </div>
                <form>
                    <div class="mb-3">
                        <label for="unesiEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="unesiEmail" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                      </div>
                      <div class="mb-3">
                        <label for="unesiSifru" class="form-label">Lozinka</label>
                        <input type="password" class="form-control" id="unesiSifru">
                      </div>
                      <button type="submit" class="btn btn-primary mb-2">Login</button>
                </form>
                <a routerLink="/signup">Novi korisnik</a>
            </div>
        </div>
    </div>
</div>