<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Prijavite se</h1>
                    <h6>Registracija korisnika</h6>
                </div>
                <form {formGroup}="signupForm">
                    <div class="mb-3">
                        <label for="unesiImeIPrezime" class="form-label">Vaše ime i prezime</label>
                        <input formControlName="unesiImeIPrezime" type="text" class="form-control" id="unesiImeIPrezime">
                      </div>
                    <div class="mb-3">
                        <label for="unesiEmail" class="form-label">Email</label>
                        <input formControlName="unesiEmail" type="email" class="form-control" id="unesiEmail" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                        <label for="unesiSifru" class="form-label">Lozinka</label>
                        <input formControlName="unesiSifru" type="password" class="form-control" id="unesiSifru">
                      </div>
                      <button type="submit" class="btn btn-primary mb-2">Registracija</button>
                </form>
                <a routerLink="/login" >Postojeći korisnik</a>
            </div>
        </div>
    </div>
</div>