<div class="wrapper">
    <nav id="sidebar">
        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>

        <div class="sidebar-header">
            <h3>Inventura Meni</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#" aria-expanded="false">Inventurna Lista</a>
               
            </li>
            <li>
                <a routerLink="/login">Prijava</a>
                <a routerLink="/signup" aria-expanded="false">Registracija</a>                
            </li>
        </ul>
    </nav>
</div>

<div class="overlay"></div>